*
{
    /* width: 100%; */
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{ 
    /* position: absolute; */
    margin:0;
}
.x
{
    transform: translate(0%,-100%);
    opacity: 0;
}
.bar
{
    display: flex;
    z-index:1;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    /* background-color: #0561b8; */
    background-image:linear-gradient(to right bottom,rgba(11, 46, 201, 0.8),rgba(40, 180, 161, 0.8)),url("nav-back.jpg");
    font-family: 'Poppins',sans-serif;
    transition: all .5s ease;
}
.acm-logo
{
    position: relative;
    margin-left: 2vh;
    image-resolution: 300dpi; 
    width: 180px;
}

.nav-links
{
    z-index: 1;
    display: flex;
    /* background-color: #0561b8; */
    justify-content: space-around;
    width: 65%;
    padding: 0;
}
.nav-links a
{
    color: rgb(247, 233, 233);
    text-decoration: none;
    letter-spacing: 0.2vh;
    font-size: 1.2vw;
    /* height: 11.5vh; */
    /* font-weight: bold; */

}

.nav-links li
{
    /* position: absolute; */
    /* top:50%; */
    list-style: none;
    /* height: 11.5vh; */
    /* padding-top: 3.7vh; */
    /* padding-top: 4vh; */
}

.nav-links a:hover
{
    /* background-color: #000  ; */
    letter-spacing: 0.4vh;
    font-size: 1.7vw;
}

.burger
{
    position: relative;
    left:85%;
    margin-right: 12px;
    display: none;
}
.burger div
{
    width: 30px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px)
{
    .nav-links
    {
        /* background-color: #000; */
        width: 70%;
    }
}

@media screen and (max-width: 768px)
{
    /* body
    {
        display:none;
    } */
    nav
    {
        justify-content: flex-end;
    }
    .acm-logo
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .burger
    {
        display: block;
    }
    .nav-links
    {
	opacity:0;
        position: fixed;
        right:0;
        height: calc( 100% - 80px );
        top: 80px;
        /* background-color: #0562b8; */
        background-image:  linear-gradient(to right bottom,rgba(11, 46, 201, 0.8),rgba(11, 255, 194, 0.8)),url("nav-back.jpg");
        /* background-origin: top;   */
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%); 
        transition: all 0.5s ease-in;
    }
    .nav-links a
    {
    letter-spacing: 0.7vh;
    font-size: 3vh;
    }
    .nav-links a:hover
    {
    letter-spacing: 1vh;
    font-size: 5vh;
    }
    .text
    {
        font-size: 20vh;
    }
}

.nav-active
{
    opacity:1;
    transform: translate(0%);
}
.nav-back
{
    backgroud-color: black !important;
}
.toggle .line1
{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2
{
    opacity: 0;
}

.toggle .line3
{
    transform: rotate(45deg) translate(-5px,-6px);
}

#loading
{
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: 999;
    transition-delay: 0ms;
}


.logo
{
    z-index: 9999;
    height: 40vh;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}


.loader
{
    margin:0;
    padding: 0;
    position: relative;
    left: 50%; 
    top: 65%;
    transform: translate(-50%,-50%);
    height: 40vh;
    width: 40vh;
    text-align: center;
}

.loader div
{
    position:absolute;
    left: 30%; 
    top: 30%;
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    border: .75vh solid #000;
    border-color: #93dbe9 transparent #93dbe9 transparent;
    animation: lds-double-ring .75s linear infinite;
}

.loader div:nth-child(2) {
    position: absolute;
    width: 16vh;
    height: 16vh;
    left: 26.25%;
    top:26.25%;
    border-radius: 50%;
    border: .75vh solid #000;
    border-color: transparent #0561b8 transparent #0561b8;
    animation: lds-double-ring_reverse .75s linear infinite;
}

@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        
    }
}
@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}



.content
{
    position: absolute;
    background-image: linear-gradient(to right,rgba(232, 246, 250, 0.678),rgba(255, 255, 255, 0.719),rgba(232, 246, 250, 0.678)),url("about.jpg");
    overflow-x: hidden;
    width: 100%;
    /* top:100px; */
}
.footer
{
    /* top:80%; */
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: auto;
    margin-top:40px;
    padding: 40px;
}
.icon
{
    display: block;
    /* padding: 5px; */
    text-align: center;
    /* width: 60px; */
    /* height: 60px; */
    
}
.fa-facebook
{
    padding: 8px;
    border-radius: 50%;
    height: 50px;
    align-content: center;
    font-size: 40px;
    width: 50px;
    background-image:  radial-gradient(#78befc,#337ab7);
    text-align: center;
    text-decoration: none;
    color: #fff;
  }

.fa-facebook:hover
{
    background: #fff ;
    color: #0972ce;
    /* font-size: 60px; */
}
.fa-github
{
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    /* height: 100px; */
    align-content: center;
    font-size: 54px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.fa-github:hover
{
    /* background-color: #fff; */
    /* font-size: 60px; */
    color:#000;
}
.copyright
{
    margin:15px;
    text-align: center;
    color: #e6e6e6;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif; 
}
.logo-footer
{
    /* margin-left: 100px;   */
    margin-top: 60px;
    /* display: inline-block; */
    display: flex;
    justify-content: space-around;
    height: auto;
}
.bit{margin-top: 13px;}
.acm-footer , .bit-footer
{
    display: block;
    width:25vw;
}

@media screen and (max-width: 768px) and (orientation : portrait)
{
    .logo-footer
    {
        flex-direction: column;
    }
    .bit{margin-left: 10px;}
    .acm-footer , .bit-footer
    {
        margin:15px;
        display: block;
        width:70vw;
    }
}
@media screen and (max-width: 900px) and (orientation : landscape)
{
    .logo-footer
    {
        /* flex-direction: column; */
    }
    .bit{margin-left: 10px;}
    .acm-footer , .bit-footer
    {
        margin:15px;
        display: block;
        width:30vw;
    }
}

.example
{
    position: relative;
    /* top: 100vh; */
}
.Body-content
{
    width: 100vw;
}
.article
{
    width: fit-content;
    position: relative;
    font-size: 70px;
    color: #0561b8;
    left: 50%;
    transform: translate(-50%);
    /* text-decoration: #000; */
    font-family: 'Roboto',sans-serif; 
    top: -185px; 
    font-weight: 900; 
}

.article-back
{
    width: 100vw;
    height: 300px;
    
    filter: blur(1.25px);
    background-position: center center;
    background-repeat: no-repeat;
    /* position: relative; */
}
.articles
{
    margin-bottom: 30px;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center ;
    /* text-align: center; */
    display: flex;
    /* cursor: pointer; */
    height: 150px;
    cursor: pointer;
}
.detaila
{
    width:70vw;
    box-shadow:         1px 3px 5px 6px rgb(219, 219, 219);
    background-color: rgba(255, 255, 255, 0.445);
    font-family: 'Roboto', sans-serif;
    /* font-size:1.75vw;
    letter-spacing: 1.3px; */
    color:rgb(82, 82, 82);
    /* margin-left:5%;
    margin-right:5%; */
    /* display: inline; */
    /* margin-right: 10px; */
    height: 150px;
}
.ahead
{
    /* position: relative;
    left: 0%; */
    letter-spacing: 5px;
    font-size: 30px ;
    padding: 25px;
}

.det
{
    color: #8d8d8d;
    font-size: 20px;
    padding-left:15px;
    padding-top: 0;

}
.aimg
{
    margin-right     :15px;
    height: 150px;
    box-shadow:         1px 3px 5px 6px rgb(219, 219, 219);
    background-color: rgba(255, 255, 255, 0.445);
    width: 200px;

}


@media screen and (max-width: 768px) and (orientation : portrait)
{
    .article
    {
        height: 130px;
    }
    .article-back
    {
        
    }
    .articles
    {
       
    }
    .detaila
    {
        width: 60vw;
        height: 130px;
    }
    .ahead
    {
        font-size: 17px;
        letter-spacing: 0.5px;  
        font-weight: 900;
        padding: 20px;    
    }

    .det
    {
        font-size: 13px;
    }
    .aimg
    {
        width: 30vw;
        height:130px;
        /* height:0vw; */
    }
}

.article-box
{
    padding:40px;
    position: relative;
    left:5%;
    width:90%;
    box-shadow: 1px 3px 5px 6px rgb(219, 219, 219);
    background-color: rgba(255, 255, 255, 0.445);
}
.article-heading
{
    /* text-decoration: underline; */
    font-style: underline;
    /* padding:10px; */
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #02a9f7;
    font-weight: bold;
    font-family: 'Roboto',Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
}
.article-aurthor
{
    
    font-style: oblique;
    margin:5px;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: #02a9f7;
    font-family: 'Roboto',Helvetica, sans-serif;
    /* text-align: center; */
    font-size: 20px;
    transform: translate(calc(53% - 30px));
}

.article-content
{
    font-size:25px;
    letter-spacing: 1.3px;
    color:rgb(82, 82, 82);
    padding: 2%;
    
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 768px) and (orientation : portrait)
{
    .article-box
    {
        padding:20px;
    }
    .article-heading
    {
        font-size:50px;
    }
    .article-aurthor
    {
        font-size: 15px;
    }
    .article-content
    {
        font-size: 15px;
        letter-spacing: 1px;
    }
}